@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
    scroll-behavior: smooth;

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.page-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}
